// Created by shijing.guan on 2016/6/7.
doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        //meta(http-equiv="X-UA-Compatible", content="IE=edge")
        //meta(name="renderer", content="webkit")
        //meta(name="viewport", content="width=device-width, user-scalable=no")
        block title
            title ui-sJin

        link(href=relativeRoot + "css/bootstrap/bootstrap.css", rel="stylesheet", type="text/css")
        link(href=relativeRoot + "css/font-awesome/font-awesome.css", rel="stylesheet", type="text/css")
        link(href=relativeRoot + "css/life/icon/icon.css", rel="stylesheet", type="text/css")
        block styles

        script(src=relativeRoot + "js/libs/require.js")
        script(src=relativeRoot + "js/base.js")
        block scripts
    body
        block content

